<app-navbar></app-navbar>
<div class="center">
<div class="row">
<div class="column">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" height="300px" width="500px" [src]="img1" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">
          {{name1}}<br>
          {{id1}}<br>
          {{email1}}<br>
      </p>
    </div>
  </div>
</div>
<div class="col-sm">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" height="300px" width="500px" [src]="img2" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">
          {{name2}}<br>
          {{id2}}<br>
          {{email2}}<br>
      </p>
    </div>
  </div>
  </div>
  </div>
</div>
  <app-footer></app-footer>