.center {
    display: flex;
    justify-content: center;
  }
  .container{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 30000px;
    height: 700px;

}
table.center1 {
  margin-left: 300px;
  margin-right: auto;
}
